.button__container {
    display: flex;
    align-items: center;
    width: 100%;

    .header__line {
        flex: 1;
        height: 1px;
        background: var(--color-line);
    }

    button {
        border: 1px solid var(--color-line);
        border-radius: var(--radius-small);
        padding: 12px 24px;
        font-size: 16px;
        color: var(--color-txt-muted);
        background: var(--color-bg);
        cursor: pointer;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;

        &:hover {
            background: var(--light-grey);
            
        }

        &:active{
            background: var(--color-bg);
            color: var(--color-txt-black);
        }
    }

}