.header {
  padding: 30px 0px;
  background-color: var(--color-bg);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__logo img {
    max-height: 68px;
    width: auto;
  }

   &__icons {
    display: flex;
    gap: 28px;

    &-favorite,
    &-cart {
      background: none;
      border: none;
      color: var(--color-txt-black);
      cursor: pointer;

      &:hover {
        color: var(--color-green);
      }
    }
  }

  .switch-theme-toggle {
    margin-left: 20px;
  }
}