@use "../../styles/_mixin.scss" as mixin;

.sale {
  background: linear-gradient(80.46deg, #87933d -0.68%, #55610b 66.66%);
  border-radius: var(--radius-big);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 32px 0 32px;
  margin-bottom: 110px;

  h2 {
    text-align: center;
    font-size: 64px;
    color: white;
    font-weight: 700;
  }

  .sale__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    align-items: center;
  }

  .sale__image {
    height: 388px;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__item {
      display: flex;
      flex-direction: column;
    }

    input {
      padding: 16px 32px;
      border: 1px solid white;
      border-radius: var(--radius-small);
      background: transparent;
      font-size: 20px;
      font-weight: 400;
      color: white;

      &::placeholder {
        color: white;
      }
    }

    .error__message {
      color: white;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 8px;
    }

    .success__message {
      color: white;
      font-size: 16px;
      font-weight: 500;
    }

    button {
      width: 100%;
      margin-top: 16px;
      padding: 16px 32px;
      border: none;
      background: #fffff1;
      border-radius: var(--radius-small);
      font-size: 20px;
      font-weight: 600;
      color: #424436;
      cursor: pointer;
      transition: background 0.3s ease, color 0.3s ease;

      &:hover {
        background: #424436;
        color: #fffff1;
      }

      &.submitting {
        background: #f2f6d3;
        color: #92a134;
      }
    }
  }

  @include mixin.respond(768) {
    .sale__content {
      grid-template-columns: 1fr;
    }

    .sale__image {
      order: 2;
    }
  }
}
