.not-found {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto 80px;
      max-width: 760px;
    }
  
    &__pictures {
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr;
      gap: 16px;
      align-items: center;
      justify-items: center;
      overflow: hidden;
    }
  
    &__image {
      width: 100%;
      height: auto;
      object-fit: contain;
  
      &:nth-child(odd) {
        max-width: 179px;
      }
  
      &:nth-child(even) {
        max-width: 300px;
      }
    }
  
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      text-align: center;
    }
  
    &__title {
      font-size: 64px;
      font-weight: 700;
      color: var(--color-txt-black);
      margin: 0 0 16px;
    }
  
    &__description {
      line-height: 130%;
      margin-bottom: 32px;
    }
  
    &__paragraph {
      font-size: 20px;
      font-weight: 500;
      color: var(--color-txt-muted);
    }
  
    &__button {
      padding: 16px 56px;
      font-size: 20px;
      font-weight: 600;
      background-color: var(--color-green);
      color: var(--color-txt-white);
      border: none;
      border-radius: var(--radius-small);
      cursor: pointer;
    }
  
    @media (max-width: 768px) {
      &__title {
        font-size: 56px;
      }
  
      &__image {
        &:nth-child(odd) {
          max-width: 159px;
        }
  
        &:nth-child(even) {
          max-width: 267px;
        }
      }
    }
  
    @media (max-width: 480px) {
      &__title {
        font-size: 48px;
      }
  
      &__paragraph {
        font-size: 18px;
      }
  
      &__button {
        padding: 12px 52px;
        font-size: 18px;
      }
  
      &__image {
        &:nth-child(odd) {
          max-width: 108px;
        }
  
        &:nth-child(even) {
          max-width: 181px;
        }
      }
    }
  
    @media (max-width: 360px) {
      &__title {
        font-size: 40px;
      }
  
      &__image {
        &:nth-child(odd) {
          max-width: 79px;
        }
  
        &:nth-child(even) {
          max-width: 132px;
        }
      }
    }
  }
  