@use "../../styles/mixin" as mixin;

.banner__wrapper {
  background: var(--color-bg);
  padding-bottom: 80px;
}

.banner {
  width: 100%;
  background-image: url('../../assets/Banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   

  &__bg {
    padding: 90px 0 210px;
    background-color: rgba(0, 0, 0, 0.1);

    .banner__content {
      max-width: 1100px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .banner__title {
        font-size: 96px;
        color: #ffffff;
        font-weight: 700;
        line-height: 110%;

        @include mixin.respond(1000) {
          font-size: 90px;
        }

        @include mixin.respond(768) {
          font-size: 68px;
        }

        @include mixin.respond(480) {
          font-size: 60px;
        }
        @include mixin.respond(360) {
          font-size: 52px;
        }
      }

      .banner__btn {
        align-self: flex-start;
        padding: 16px 56px;
        border: none;
        border-radius: var(--radius-small);
        background-color: var(--color-green);
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--color-txt-black);
        }
      }
    }
  }
}
