.banner__wrapper {
    background: var(--color-bg);
    padding-bottom: 80px;
}

.banner {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .banner__image {
        width: 100%;
        display: block;
    }

    .banner__bg {
        width: 100%;
        height: 100%;
        background-color: #00000010;
        position: absolute;
        top: 0;

        .banner__content {
            position: absolute;
            top: 10%;
            left: 5%;
            display: flex;
            flex-direction: column;
            gap: 24px; // Отступ между заголовком и кнопкой

            .banner__title {
                font-size: 96px;
                color: var( --color-txt-white);
                font-weight: 700;
            }
            .banner__btn {
                padding: 16px 56px;
                gap: 10px;
                border-radius: var(--radius-small);
                background-color: var(--color-green);
                color: var( --color-txt-white);
                font-size: 20px;
                font-weight: 600;
                line-height: 130%;                
            }
        }
    }
}