body {
  background-color: var(--color-bg);
}
.container {
  max-width: 1392px;
  margin: 0 auto;         
  padding: 0 16px;        
  width: 100%;            
  box-sizing: border-box;
}

