
  @mixin card-adaptive($gap: 20px, $min-width: 210px) {
  display: grid;
  grid-template-columns: repeat(4, minmax(#{$min-width}, 1fr));
  gap: $gap;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}
