.skeleton-category__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 32px;
  background: var(--color-bg);
  padding-bottom: 80px;
  }
  
  .skeleton-category__item {
    max-width: clamp(210px, 25vw, 316px);
    height: clamp(255px, 25vw, 392px);
    background: var(--color-cards);
    border-radius: var(--radius-big);
  }
