.skeleton__category__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 32px;
  background: var(--color-bg);
  padding-bottom: 80px;
  }
  
  .skeleton_category__item {
    max-width: 316px;
    height: 392px;
    background: var(--color-cards);
    border-radius: var(--radius-big);
  }
