.category_panel_header {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 32px;
    padding: 12px;
    background-color: #FFFFF1;
    color: #282828;

    &_title {
        font-size: 64px;  
    }
    
    .button_container {
        display: flex;
        align-items: center;
        flex: 1;
        .header_line {
            height: 1px;
            background-color: #DDDDDD;
            flex: 1;
        }
        button {
            width: 142px;
            height: 36px;
            border: 1px solid #DDDDDD;
            border-radius: 6px;
            padding: 8px 16px;
            font-size: 16px;
            // gap: 10px;
            color: #8B8B8B;
            background-color: #FFFFF1;
            cursor: pointer;
            
        }
    }
}