.modal {
    width: 548px;  
    height: 664px;  
    padding: 32px;
    background-color: var(--color-green);
    border-radius: var(--radius-big);
    // max-height: calc(100vh - 200px); // появляется скрол
    // overflow-y: auto;    
}

.modal__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
}

.modal__title-description {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-txt-white);   
}

.modal__close-button {
    position: relative;    
}

.modal__close-button img {
    position: absolute;
    top: 0;
    right: 0;
}

.modal__content {
    position: relative;
    background-color: var(--color-txt-white);
    border-radius: var(--radius-big);
    height: 422px;
    margin-bottom: 16px;
}
.modal__content-image {
    text-align: center;
    border-bottom: 1px solid var(--color-line); 
}

.modal__content-discont {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: var(--color-sale);
    color: var(--color-txt-white);
    font-weight: 600;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: var(--radius-small);
}
.modal__content-favorite {
    position: absolute;
    top: 16px;
    right: 16px;
}
.modal__content-info {
    width: 316px;
    margin-top: 20px;    
    padding: 0 32px 32px 32px;        
}
.modal__content-name {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-txt-black);
    margin-bottom: 16px; 
}
.modal__content-price {
    display: flex;    
    align-items: baseline;      
}
.modal__content-price-new {
    width: 91px;
    height: 44px;
    font-size: 40px;
    font-weight: 600;
    margin-right: 16px;
}
.modal__content-price-old {
    text-decoration: line-through;     
    font-size: 20px;
    font-weight: 500;
    color: var(--color-txt-muted);
}
.modal__button{
width: 484px;

}
.modal__button button{
width: 100%; 
padding: 16px 32px;
font-size: 20px;
font-weight: 600;
background-color: var(--color-bg);
color: var(--color-txt-black);
border-radius: var(--radius-small);
border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;  
  padding-top: 60px; // по макету тут должно быть 180px
  z-index: 1000;  
}