.cart-product {
    display: flex;
    width: 100%;
    
    border: 1px solid var(--color-line);
    border-radius: var(--radius-big);
    background-color: #ffffff;

    &__image {
        width: 200px;
        height: 100%;
        overflow: hidden;
        text-align: center;
        border-top-left-radius: var(--radius-big);
        border-bottom-left-radius: var(--radius-big);
        border-right: 1px solid var(--color-line);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 32px;
    }


    &__title {
        font-size: 20px;
        line-height: 130%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__remove-btn {
        width: 24px;
        height: 24px;
        background: white;
        border: none;
        padding: 0;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 2px;
            background-color: #424436;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__footer {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 32px;
        margin: 0 32px 32px 32px;
    }

    &__quantity {
        display: flex;
        align-items: center;
        color: #424436;
        border: 1px solid var(--color-line);
        border-radius: var(--radius-small);
        overflow: hidden;
    }

    &__quantity-btn {
        width: 58px;
        height: 58px;
        background: white;
        border: none;
        border-top-left-radius: var(--radius-small);
        border-bottom-left-radius: var(--radius-small);
        border-top-right-radius: var(--radius-small);
        border-bottom-right-radius: var(--radius-small);
        padding: 0;
        cursor: pointer;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            height: 2px;
            background-color: var(--color-txt-muted);
            transform: translate(-50%, -50%);
        }

        &:last-child::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2px;
            height: 14px;
            background-color: var(--color-txt-muted);
            transform: translate(-50%, -50%);
        }

        &:first-child {
            border-right: 1px solid var(--color-line);
        }

        &:last-child {
            border-left: 1px solid var(--color-line);
        }
    }

    &__quantity-value {
        font-size: 20px;
        padding: 0 44px;
        color: #424436;
    }

    &__price {
        display: flex;
        gap: 16px;
        align-items: baseline;
    }

    &__price-new {
        font-weight: 600;
        font-size: 40px;
        line-height: 110%;
        color: #424436;
    }

    &__price-old {
        font-size: 20px;
        text-decoration: line-through;
        color: var(--color-txt-muted);
    }

    @media (max-width: 1000px) {
        .cart-product__info {
            margin: 20px;
            gap: 12px;
        }

        .cart-product__header {
            margin: 0;
        }

        .cart-product__image {
            width: 150px;
            flex-shrink: 0;
        }

        .cart-product__title {
            max-width: 190px;
            margin: 0;
            font-size: 20px;
            white-space: normal;
            overflow: visible;
            text-overflow: unset;
            word-break: break-word;
        }

        .cart-product__footer {
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            gap: 10px;
        }

        .cart-product__quantity-value {
            padding: 0 26px;
        }
    }

    

    @media (max-width: 480px) {
        

        .cart-product__info {
            margin: 20px;
            gap: 12px;
        }

        .cart-product__header {
            margin: 0;
        }

        .cart-product__image {
            width: 150px;
            flex-shrink: 0;
        }

        .cart-product__title {
            max-width: 150px;
            margin: 0;
            font-size: 18px;
            white-space: normal;
            overflow: visible;
            text-overflow: unset;
            word-break: break-word;
        }

        .cart-product__footer {
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            gap: 12px;
        }

        .cart-product__quantity-value {
            padding: 0 26px;
        }
    }

    @media (max-width: 360px) {
        .cart-product{
            max-width: 100%;
        }

        .cart-product__info {
            margin: 20px;
            gap: 12px;
        }

        .cart-product__header {
            margin: 0;
        }

        .cart-product__image {
            width: 116px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .cart-product__title {
            max-width: 120px;
            margin: 0;
            font-size: 18px;
            white-space: normal;
            overflow: visible;
            text-overflow: unset;
            word-break: break-word;
        }

        .cart-product__footer {
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            gap: 12px;
        }

        .cart-product__price {
            &-new {
                font-size: 36px;
            }
            &-old {
                font-size: 18px;
            }
        }

        .cart-product__quantity-value {
            font-size: 18px;
            padding: 0 26px;
        }
    }
}